{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Savannah" />
    <meta name="description" content="Savannah" />
    <meta name="author" content="Mr Allarassem N Maxime" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Savannah</title>
</head>

<body>
    <!--page start-->
    <div class="page">
        <section class="error-404">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <header class="page-header"><h1 class="page-title">Welcome to Savannah</h1></header>
                        {% comment %} <div class="page-content"> <p>Cette page a peut-être été déplacée ou supprimée. Assurez-vous de vérifier votre orthographe.</p></div> {% endcomment %}
                        {% comment %} <a class="ttm-btn ttm-btn-size-md ttm-btn-bgcolor-skincolor mb-15" href="/">De retour à la page d'accueil</a> {% endcomment %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>